{# Workshops Template #}
{% extends '_layout' %}

{% block content %}
  <main id="workshops">
    
    <section id="content">
      <h3 id="workshop-title">{{ entry.title }}</h3>
      <p id="workshop-date">{{ entry.date }}</p>

      {% set img = entry.img.one() %}
      {% if img|length %}
      <img src="/{{ img.getUrl() }}" alt="{{ currentSite.name }}, {{ entry.title }}">
      {% endif %}

      {{ entry.description }}

      <div style="display: flex">
        <p class="button"><a href="{{ entry.registrationLink }}" target="_blank"">Anmelden</a></p>
      </div>

      {{ entry.details }}

      <div style="display: flex">
        <p class="button"><a href="{{ entry.registrationLink }}" target="_blank"">Anmelden</a></p>
      </div>

    </section>

  </main>

{% include 'includes/footer' %}

{% endblock %}
