{% set env = getenv('ENVIRONMENT') %}
<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="UTF-8">
  <title>{{ siteName }}</title>

  <meta name="author" content="Françoise Nussbaumer">
  <meta name="description" content="Françoise Nussbaumer ist eine schweizer Malerin. Sie malt Landschaften, Stillleben und ornamentale Sujets mit Ölfarben auf Leinwand.">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="/assets/_pic/favicon.png" type="image/x-icon">

  {{ craft.twigpack.includeCssModule("app.css", true) }}

</head>

<body>
  
  <div id="app">
    <nav id="navigation">
      {% include 'includes/nav' %}
    </nav>
    
    <header>
      <h1><a href="/">{{ currentSite.name }}</a></h1>
    </header>

    {% block content %}
    {% endblock %}

    {% set contactdata = {} %}
    {% set contactdata = contactdata|merge( {'instagramText': contact.instagramText, 'instagramLink': contact.instagramLink } ) %}
    {% set contactdata = contactdata|merge( {'signupText': contact.newsletterSignupText, 'signupLink': contact.newsletterSignupLink } ) %}
    {% set contactdata = contactdata|merge( {'email': contact.email, 'telefon': contact.telefon } ) %}
    {% set contactdata = contactdata|merge( {'latitudeDegrees': contact.latitudeDegrees, 'latitudeMinutes': contact.latitudeMinutes, 'latitudeSeconds': contact.latitudeSeconds } ) %}
    {% set contactdata = contactdata|merge( {'longitudeDegrees': contact.longitudeDegrees, 'longitudeMinutes': contact.longitudeMinutes, 'longitudeSeconds': contact.longitudeSeconds } ) %}

    <footer-section :contact="{{ contactdata|json_encode }}"></footer-section>

    <aside class="exhibition-catalogue">
      <a href="/assets/pdf/ausstellung_22.pdf" target="_blank">Katalog<br>Aus-<br>stellung<br></a>
    </aside>

  </div>

  {{ craft.twigpack.includeSafariNomoduleFix() }}
  {{ craft.twigpack.includeJsModule("app.js", true) }}
  {{ craft.twigpack.includeJsModule("chunk-vendors.js", true) }}

</body>
</html>
